[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
orjson = "*"
Flask = "*"
Flask-Cors = "*"
flask-jwt-extended = "*"
oauthlib = "*"
requests = "*"
arrow = "*"
gunicorn = "*"
psycopg = {extras = ["pool"], version = "*"}

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.10"
