[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Cors = "*"
kubernetes = "*"
orjson = "*"
flask-jwt-extended = "*"
oauthlib = "*"
requests = "*"
arrow = "*"
gunicorn = "*"
psycopg = {extras = ["c", "pool"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
