[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
quart-cors = "*"
kubernetes = "*"
orjson = "*"
quart-jwt-extended = "*"
oauthlib = "*"
requests = "*"
arrow = "*"
uvicorn = "*"
psycopg = {extras = ["c", "pool"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
